In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://drive.google.com/uc?export=download&id=1pCBCSEcPjDk-5kOlYF2yUM1ttEGABTB_')
df = df[["State", 'First Dose Administered', 'Second Dose Administered', 'Male (Doses Administered)', 'Female (Doses Administered)']]

In [ ]:
df.describe()

,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered)
count,7.621000e+03,7.621000e+03,7.461000e+03,7.461000e+03
mean,7.414415e+06,1.773755e+06,3.620156e+06,3.168416e+06
std,2.995209e+07,7.570382e+06,1.737938e+07,1.515310e+07
min,7.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00
25%,1.166320e+05,1.283100e+04,5.655500e+04,5.210700e+04
50%,6.614590e+05,1.388180e+05,3.897850e+05,3.342380e+05
75%,5.387805e+06,1.166434e+06,2.735777e+06,2.561513e+06
max,4.001504e+08,1.130780e+08,2.701636e+08,2.395186e+08

In [ ]:
doses_by_state = df.groupby('State')

In [ ]:
print('Number of persons state wise vaccinated for first dose in India:')
doses_by_state['First Dose Administered'].sum()

Number of persons state wise vaccinated for first dose in India:

State
Andaman and Nicobar Islands                 1.642585e+07
Andhra Pradesh                              1.232861e+09
Arunachal Pradesh                           4.900498e+07
Assam                                       5.856002e+08
Bihar                                       1.470503e+09
Chandigarh                                  4.470310e+07
Chhattisgarh                                7.960029e+08
Dadra and Nagar Haveli and Daman and Diu    3.359506e+07
Delhi                                       6.243395e+08
Goa                                         7.599137e+07
Gujarat                                     2.131646e+09
Haryana                                     7.557984e+08
Himachal Pradesh                            3.162940e+08
India                                       2.826214e+10
Jammu and Kashmir                           4.101018e+08
Jharkhand                                   6.036737e+08
Karnataka                                   1.873330e+09
Kerala                                      1.193845e+09
Ladakh                                      1.780925e+07
Lakshadweep                                 4.363655e+06
Madhya Pradesh                              1.796605e+09
Maharashtra                                 2.784364e+09
Manipur                                     6.740957e+07
Meghalaya                                   6.261597e+07
Mizoram                                     4.787308e+07
Nagaland                                    4.241077e+07
Odisha                                      1.032633e+09
Puducherry                                  4.134686e+07
Punjab                                      5.843466e+08
Rajasthan                                   2.201044e+09
Sikkim                                      3.698093e+07
Tamil Nadu                                  1.288533e+09
Telangana                                   8.803206e+08
Tripura                                     1.926897e+08
Uttar Pradesh                               2.788411e+09
Uttarakhand                                 3.631914e+08
West Bengal                                 1.796450e+09
Name: First Dose Administered, dtype: float64

In [ ]:
print('Number of persons state wise vaccinated for second dose in India:')
doses_by_state['Second Dose Administered'].sum()

Number of persons state wise vaccinated for second dose in India:

State
Andaman and Nicobar Islands                 4.118554e+06
Andhra Pradesh                              3.588176e+08
Arunachal Pradesh                           1.193232e+07
Assam                                       1.307888e+08
Bihar                                       2.707906e+08
Chandigarh                                  1.159374e+07
Chhattisgarh                                1.721204e+08
Dadra and Nagar Haveli and Daman and Diu    4.594416e+06
Delhi                                       1.882189e+08
Goa                                         1.619817e+07
Gujarat                                     6.004184e+08
Haryana                                     1.586561e+08
Himachal Pradesh                            7.383858e+07
India                                       6.759621e+09
Jammu and Kashmir                           8.595165e+07
Jharkhand                                   1.221211e+08
Karnataka                                   4.271872e+08
Kerala                                      3.640488e+08
Ladakh                                      5.453762e+06
Lakshadweep                                 1.056446e+06
Madhya Pradesh                              3.169330e+08
Maharashtra                                 7.128811e+08
Manipur                                     1.185815e+07
Meghalaya                                   1.216663e+07
Mizoram                                     9.998418e+06
Nagaland                                    9.204637e+06
Odisha                                      2.513028e+08
Puducherry                                  8.608859e+06
Punjab                                      1.211210e+08
Rajasthan                                   4.917030e+08
Sikkim                                      9.723640e+06
Tamil Nadu                                  2.906706e+08
Telangana                                   1.981529e+08
Tripura                                     6.527014e+07
Uttar Pradesh                               5.544351e+08
Uttarakhand                                 1.000850e+08
West Bengal                                 5.861469e+08
Name: Second Dose Administered, dtype: float64

In [ ]:
males_vaccinated = df['Male (Doses Administered)'].sum()
print('Number of males vaccinated:', males_vaccinated)

females_vaccinated = df['Female (Doses Administered)'].sum()
print('Number of females vaccinated:', females_vaccinated)

Number of males vaccinated: 27009983996.0
Number of females vaccinated: 23639554465.0