In [1]:
import pandas as pd

In [ ]:
emp_data = {
    'emp_id' : [1,2,3,4,5],
    'emp_name' : ['Tejal','Kunal','Sania','Nisarg','Salomi'],
    'age' : [18,20,34,57,40],
    'Gender' : ['female','male','female','male','female'],
    'income' : [10000,20000,32000,20000,20000]
}

In [12]:
print(emp_data)

{'emp_id': [1, 2, 3, 4, 5], 'emp_name': ['Tejal', 'Kunal', 'Sania', 'Nisarg', 'Salomi'], 'age': [18, 20, 34, 57, 40], 'Gender': ['female', 'male', 'female', 'male', 'female'], 'income': [10000, 20000, 32000, 20000, 20000]}

In [13]:
df=pd.DataFrame(emp_data)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   emp_id    5 non-null      int64
 1   emp_name  5 non-null      object
 2   age       5 non-null      int64
 3   Gender    5 non-null      object
 4   income    5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 328.0+ bytes

In [16]:
df.min()

emp_id           1
emp_name     Kunal
age             18
Gender      female
income       10000
dtype: object

In [17]:
df.max()

emp_id          5
emp_name    Tejal
age            57
Gender       male
income      32000
dtype: object

In [18]:
df.mean()

<ipython-input-18-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

emp_id        3.0
age          33.8
income    20400.0
dtype: float64

In [19]:
df.median()

<ipython-input-19-6d467abf240d>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

emp_id        3.0
age          34.0
income    20000.0
dtype: float64

In [20]:
df.std()

<ipython-input-20-ce97bb7eaef8>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

emp_id       1.581139
age         15.943651
income    7797.435476
dtype: float64

In [21]:
df.describe()

         emp_id        age        income
count  5.000000   5.000000      5.000000
mean   3.000000  33.800000  20400.000000
std    1.581139  15.943651   7797.435476
min    1.000000  18.000000  10000.000000
25%    2.000000  20.000000  20000.000000
50%    3.000000  34.000000  20000.000000
75%    4.000000  40.000000  20000.000000
max    5.000000  57.000000  32000.000000

In [22]:
df.groupby(['Gender']).mean()

<ipython-input-22-48ea916993b1>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Gender']).mean()

        emp_id        age        income
Gender
female     3.0  30.666667  20666.666667
male       3.0  38.500000  20000.000000

In [23]:
df.groupby(['age']).mean()

<ipython-input-23-c9e90997d916>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['age']).mean()

     emp_id   income
age
18      1.0  10000.0
20      2.0  20000.0
34      3.0  32000.0
40      5.0  20000.0
57      4.0  20000.0

In [24]:
df.groupby(['income']).max()

        emp_id emp_name  age  Gender
income
10000        1    Tejal   18  female
20000        5   Salomi   57    male
32000        3    Sania   34  female

In [26]:
df.loc[:,'age'].mean()

33.8

In [28]:
df.loc[:,'income'].mean()

20400.0

In [38]:
df.loc[:,'income'].max()

32000