In [ ]:
import pandas as pd

In [ ]:
Stat = {
    'Sr_No':[1,2,3,4,5],
    'Name': ['ABC','PQR','XYZ','AAA','BBB'],
    'Age':[20,45,32,78,67],
    'Income':[20000,35000,60000,30000,15000],
    'Gender':['Female','Male','Female','Male','Male']
}

In [ ]:
df = pd.DataFrame(Stat)

In [ ]:
df

   Sr_No Name  Age  Income  Gender
0      1  ABC   20   20000  Female
1      2  PQR   45   35000    Male
2      3  XYZ   32   60000  Female
3      4  AAA   78   30000    Male
4      5  BBB   67   15000    Male

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sr_No   5 non-null      int64
 1   Name    5 non-null      object
 2   Age     5 non-null      int64
 3   Income  5 non-null      int64
 4   Gender  5 non-null      object
dtypes: int64(3), object(2)
memory usage: 328.0+ bytes

In [ ]:
df.mean()

<ipython-input-14-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Sr_No         3.0
Age          48.4
Income    32000.0
dtype: float64

In [ ]:
df.loc[:,'Age'].mean()

48.4

In [ ]:
df.mean(axis = 1)[0:3]

<ipython-input-30-b2b58d7d5e6c>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean(axis = 1)[0:3]

0     6673.666667
1    11682.333333
2    20011.666667
dtype: float64

In [ ]:
df.mode()

   Sr_No Name  Age  Income Gender
0      1  AAA   20   15000   Male
1      2  ABC   32   20000    NaN
2      3  BBB   45   30000    NaN
3      4  PQR   67   35000    NaN
4      5  XYZ   78   60000    NaN

In [ ]:
df.loc[:,'Gender'].mode()

0    Male
Name: Gender, dtype: object

In [ ]:
df.median()

<ipython-input-19-6d467abf240d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Sr_No         3.0
Age          45.0
Income    30000.0
dtype: float64

In [ ]:
df.min()

Sr_No          1
Name         AAA
Age           20
Income     15000
Gender    Female
dtype: object

In [ ]:
df.max()

Sr_No         5
Name        XYZ
Age          78
Income    60000
Gender     Male
dtype: object

In [ ]:
df.std()

<ipython-input-18-ce97bb7eaef8>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

Sr_No         1.581139
Age          24.027068
Income    17535.677917
dtype: float64

In [ ]:
df.loc[:,'Age'].std()

24.027068069159

In [ ]:
df.loc[:,'Income'].std()

17535.67791675018

In [ ]:
df.groupby(['Gender']).mean()

           Sr_No        Age        Income
Gender
Female  2.000000  26.000000  40000.000000
Male    3.666667  63.333333  26666.666667

In [ ]:
df.groupby(['Gender'])['Age'].mean()

Gender
Female    26.000000
Male      63.333333
Name: Age, dtype: float64

In [ ]:
df.groupby(['Gender']).Age.mean()

Gender
Female    26.000000
Male      63.333333
Name: Age, dtype: float64

In [ ]:
df.groupby(['Gender']).median()

        Sr_No   Age   Income
Gender
Female    2.0  26.0  40000.0
Male      4.0  67.0  30000.0

In [ ]:
df.groupby(level=0).mean()

   Sr_No   Age   Income
0    1.0  20.0  20000.0
1    2.0  45.0  35000.0
2    3.0  32.0  60000.0
3    4.0  78.0  30000.0
4    5.0  67.0  15000.0

In [ ]:
dataSet = (df['Gender']=='Female')

In [ ]:
print(df[dataSet].describe())

          Sr_No        Age        Income
count  2.000000   2.000000      2.000000
mean   2.000000  26.000000  40000.000000
std    1.414214   8.485281  28284.271247
min    1.000000  20.000000  20000.000000
25%    1.500000  23.000000  30000.000000
50%    2.000000  26.000000  40000.000000
75%    2.500000  29.000000  50000.000000
max    3.000000  32.000000  60000.000000